<h1>Users</h1>
{{#each users}}
  <p>Email: {{this.email}}</p>
  <p>Is Admin: {{this.isAdmin}}</p>
  {{#if this.isAdmin}}
  <a href="/users/demote/{{this.id}}">Demote</a>
  {{else}}
  <a href="/users/promote/{{this.id}}">Promote</a>
  {{/if}}
  <hr>
{{/each}}
